@import '../abstracts/fonts';
@import '../abstracts/colours';

.footer {
  background-color: $grey;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    padding-top: 60px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 450px) {
      height: 80%;
      padding-bottom: 14px;
    }
  }

  &__heading {
    @include font-satisfy-heading;
    color: $beige;
    margin-bottom: 24px;

    @media screen and (max-width: 450px) {
      font-size: 30px;
      margin-bottom: 14px;
    }
  }

  &__line-div {
    margin-bottom: 24px;

    @media screen and (max-width: 450px) {
      margin-bottom: 14px;
    }
  }

  &__line {
    border-bottom: 3px solid $beige;
    box-align: center;
    width: 80px;
    margin: auto;
    opacity: 1;
  }

  &__hours {
    @include font-satisfy-text;
    color: $beige;
    font-size: 22px;
    margin-bottom: 6px;

    @media screen and (max-width: 450px) {
      font-size: 16px;
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  &__socials-button {
    border: 1px solid $beige;
    border-radius: 50%;
    margin: 22px;

    @media screen and (max-width: 450px) {
      margin: 12px;
    }
  }

  &__link-item {
    @include font-raleway;
    font-size: 16px;
    border: none;
    background: none;
    color: $darkGreen;
    margin: 0px 15px;

    @media only screen and (max-width: 450px) {
      margin: 0px 6px;
      font-size: 14px;
  }
  }

  &__link-item:hover, &__link-item:active {
    color: $beige;
  }

   &__credit {
    @include font-raleway;
    font-size: 12px;
    color: rgb(186, 103, 31);
    padding-top: 40px;

    @media screen and (max-width: 450px) {
      font-size: 9px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 20px;
    }
  }


  &__credit-link:visited,  &__credit-link:link {
  text-decoration: none;
  color: rgb(186, 103, 31);
  }
  &__credit-link:hover, &__credit-link:active {
    text-decoration: underline;
    color: rgb(186, 103, 31);
  }
  // a:link,
  // a:visited {
  //   text-decoration: none;
  //   color: rgb(186, 103, 31);
  // }

  // a:hover,
  // a:active {
  //   text-decoration: none;
  //   color: $olive;
  // }
}

.logo-footer {
  color: $beige;
  width: 50px; 
  height: 50px;

  @media only screen and (max-width: 450px) {
      height: 75%;
  }
}